<div class="container container-fluid wrap index">

<h1>Stan Bozhinov, Web Dev</h1>
    <img src=" <%= asset_path "stanphoto.jpg" %>" class="photoframe">
<br/>
    <h2>Hi.</h2>
<br/>
<h2>Welcome to my website.</h2>
<br/>
<p> I've graduated Eastern Washington University this March.</p>
<p> My goal is to become a professional software developer. </p>
<p> Originally I hosted this site on Github, I've decided to convert those static pages into rails pages.</p>
<p> Look around, I've posted some of my past projects and assignments</p>
<p > My git page : <a class="fa fa-lg fa-github" href= "https://github.com/sbozhinov?tab=repositories"> https://github.com/sbozhinov</a> </p>
<br/>
<br/>
<br/>
</div>
