<div class="container container-fluid wrap bio">

<h1>Education </h1>

<ul>
<li>Shadle Park High School 🎓</li>
<li><h5>Software Development, A.A.S 🎓 2010</h5><h5> Spokane Community College </h5></li>
<li><h5>Bachelor of Computer Science 🎓 March 2016 </h5>
<h5>Eastern Washington University, Cheney, Washington</h5>
<h5>Minor in Visual Communication Design</h5>
<h5>GPA: Major - 3.1 Minor - 3.4</h5>
</li>
</ul>
<h1>Experience and projects</h1>
<h4><i class='fa fa-users'></i> EWU Senior Capstone Project – Course Evaluator</h4>
<p>
Part of the team of 4 that worked on a web app (evals.compsci.ewu) that students use to evaluate
and give feedback about classes they’re enrolled in, including admin side to manage users and data. Technologies used were: CodeIgniter MVC, EWU sign in (SSO), Bootstrap, MySql, Ajax/Jquery.
</p>

<h4><i class='fa fa-cogs'></i> Software Engineering Class </h4>
<p>
The final team project was using java to interpret text commands into objects that
were consumed by the main program.</p>

<h4><i class='fa fa-sitemap'></i> AltaMinds.com - 2011</h4>
<p>
The biggest project was updating cdacasino.com, given the mockup I coded it using HTML,
PHP, SQL and JQuery. Also Used WordPress to code a few other websites for clients.</p>

  <h4><i class='fa fa-sitemap'></i> Spokane Community College - Software development capstone</h4>
    <p>Our program had Ruby as a core language, with a Ruby on Rails application as a final project. This project simulated a basic product listing and a shopping cart.</p>
<br/>
<h1>Programming scripts/languages</h1>

<ul>
<li>Java</li>
<li>PHP</li>
<li>Sql</li>
<li>Ruby</li>
<li>jQuery</li>
<li>C#</li>
<li>C</li>


</ul>
<h1>Software used</h1>
<ul>
<li>Brackets</li>
<li>Visual Studio</li>
<li>GitHub</li>
<li>Eclipse</li>
<li>Photoshop</li>
<li>Illustrator</li>
<li>Notepad++</li>
<li> xampp</li>
</ul>
<h1>Bio</h1>

<p>I was a Computer Science student at Eastern Washington University, and I would like to become a more professional programmer. </p>
<p>I love learning about how things work, and I'm still trying to become better at software programming.</p>
<p>I also like working out, watching tv shows playing video games, learning about computer tech, listening to music.</p>
 <br/>
<h1>INTERESTS/HOBBIES	</h1>
<p>Assembling and maintaining PCs and home network.</p>
<p>Video games.</p>
<p>Playing baseball in Spokane’s summer baseball league.</p>
<p>Fan of Sci-fi</p>

 <br/>
 <br/>
 <br/>
    <a href="<%= asset_path "StanBozhinovResume.pdf" %>"><button type="button" class="btn btn-primary fa fa-download"> Resume PDF</button></a>
</div>
