		
<div class="container container-fluid wrap">    


      <h1>Portfolio</h1>

    <h2>Here are some things I've been working on:</h2>

<div class="gallery">
    

   <a href="assets/Admin-Evaluations.png" data-sub-html="<figcaption>My senior group project was working with a team on a course evaluator website for CS department. We inherited poorly functioning project, rebuilt and refactored every part of it and improved the interface. I was working on views and optimizing queries from school's API.</figcaption>"><img src="assets/Admin-Evaluations.png" alt="" /></a>
        <a href="assets/task3.jpg" data-sub-html="<figcaption>Learning design patterns with Java.</figcaption>"><img src="assets/task3.jpg" alt="" /></a>
   <a href="assets/list.jpg" data-sub-html="<figcaption>Data structures class - mimicking Java's linked list methods.</figcaption>"><img src="assets/list.jpg" alt="" /></a>
      <a href="assets/cdacasino.jpg" data-sub-html="<figcaption>Cda casino project in 2011 with AltaMinds.com.</figcaption>"><img src="assets/cdacasino.jpg" alt="" /></a>
       <a href="assets/flatContainer.jpg" data-sub-html="<figcaption>Flat product package layout for VCD 1 class</figcaption>"><img src="assets/flatContainerSmall.jpg" alt="" /></a>   
   <a href="assets/stamp.png" data-sub-html="<figcaption>Stamp design in my beginner design class.</figcaption>"><img src="assets/stamp.png" alt="" /></a>
   <a href="assets/cs3.jpg" data-sub-html="<figcaption>Discovering exploits in code.</figcaption>"><img src="assets/cs3.jpg" alt="" /></a>

</div>


</div>